
* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}

body {
    font-family: 'Poppins', sans-serif;
    background-color: #1a1a1a;
    color: #fff;
    margin: 0;
    padding: 0;
}

.container {
    max-width: 960px;
    margin: 0 auto;
    padding: 20px;
}

header {
    background-color: #333;
    padding: 10px 0;
    text-align: center;
}

.logo {
    display: flex;
    align-items: center;
    justify-content: center;
}

.profile {
    display: flex;
    flex-direction: column;
    align-items: center;
    text-align: center;
}

.bio{
    align-items: center;
    text-align: center;
}

.profile-img {
    max-width: 200px;
    border-radius: 50%;
    margin-bottom: 10px;
    box-shadow: 0 0 20px rgba(210, 145, 160, 0.204);
}

nav {
    display: flex;
    align-items: center;
    justify-content: center;
    margin-top: 10px;
}

.nav-links {
    list-style: none;
    display: flex;
}

.nav-links li {
    margin-right: 20px;
}

.nav-links a {
    text-decoration: none;
    color: #fff;
    transition: color 0.3s;
}

.nav-links a:hover {
    color: #42a1ec;
}

.dropdown {
    display: none;
}

.dropdown-content {
    display: none;
    position: absolute;
    background-color: #333;
    min-width: 160px;
    box-shadow: 0 8px 16px 0 rgba(0,0,0,0.2);
    z-index: 1;
}

.dropdown button {
    background-color: transparent;
    color: #fff;
    border: none;
    cursor: pointer;
    font-size: 24px;
    padding: 5px 10px;
}

.dropdown:hover .dropdown-content {
    display: block;
}

nav ul {
    list-style: none;
    margin: 0;
    padding: 0;
}

nav ul li {
    display: inline;
    margin-right: 20px;
}

nav a {
    text-decoration: none;
    color: #fff;
}

section {
    padding: 40px 0;
}

img {
    max-width: 100%;
    height: auto;
}

.social-links {
    text-align: center;
    margin-top: 20px;
}


.social-links img {
    width: 30px;
    height: 30px;
    margin-right: 10px;  
    max-width: 30px;
    margin: 0 10px;
}

#experience, #academic, #projects, #expertise {
    border-top: 2px solid #333;
}

.project-item {
    margin-bottom: 20px;
}
.project-image {
    display: flex;
}

.project-image img {
    max-width: 50%;
    margin-right: 10px; /* Spacing between images */
}

footer {
    text-align: center;
    background-color: #333;
    padding: 10px 0;
}

footer p {
    margin: 0;
}

.experience-item {
    display: flex;
    justify-content: space-between;
    align-items: center;
    margin-bottom: 30px; /* margin for spacing between items */
}

.company-logo img {
    max-width: 200px;
}

.company-details {
    flex-grow: 1;
    margin-left: 20px; 
}


.company-details h3 {
    font-size: 24px;
    margin-bottom: 10px;
}

.company-details p {
    line-height: 1.5;
}

.icons {
    display: grid;
    grid-template-columns: repeat(4, 1fr);
    grid-gap: 20px;
    text-align: center;
    margin-top: 20px;
}

.icon img {
    max-width: 80px;
    height: auto;
}

/* software icons */
.icon p {
    margin: 10px 0;
    font-weight: bold;
}


